/* GLOBAL STYLES */
body {
  background-color: #2E294E;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
}

.fact-div {
  height: 50vh;
}

.fact {
  font-family: "Playfair Display", serif;
  font-size: 3.5rem;
  border: 0.4rem solid #FFF;
}

.contact-info-col {
  position: fixed;
  left: 0;
  bottom: 0;
  padding-top: 0.25rem;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  background-color: #2E294E;
  color: #FFF;
}

.contact-info-col a {
  color: #FFD400;
  text-decoration: none;
}

.contact-info-col a:hover {
  color: #BBCBCB;
  text-decoration: none;
}

/* MOBILE DEVICE STYLES */

/* SMALL PHONES */
/* GLOBAL STYLES */
@media screen and (width: 320px),
screen and (width: 375px) {
  .title {
    font-size: 1.25rem !important;
  }

  .info {
    font-size: 0.75rem !important;
  }

  .fact {
    border: 0.2rem solid #FFF;
    font-size: 1.5rem !important;
  }

  .contact-info-col {
    font-size: 0.75rem !important;
  }
}

@media screen and (height: 320px) and (orientation: landscape),
screen and (height: 375px) and (orientation: landscape) {
  .title {
    margin-top: 1rem !important;
    font-size: 1.5rem !important;
  }

  .info {
    font-size: 0.75rem !important;
  }

  .fact {
    border: 0.2rem solid #FFF;
    font-size: 1.5rem !important;
  }

  .contact-info-col {
    font-size: 0.8rem !important;
  }
}

@media screen and (width: 425px) {
  .title {
    font-size: 1.6rem !important;
  }

  .info {
    font-size: 0.8rem !important;
  }

  .fact {
    border: 0.2rem solid #FFF;
    font-size: 1.5rem !important;
  }

  .contact-info-col {
    font-size: 0.9rem !important;
  }
}

@media screen and (height: 425px) and (orientation: landscape) {
  .title {
    margin-top: 1.5rem !important;
    font-size: 1.6rem !important;
  }

  .info {
    font-size: 0.8rem !important;
  }

  .fact {
    border: 0.2rem solid #FFF;
    font-size: 1.75rem !important;
  }

  .contact-info-col {
    font-size: 0.9rem !important;
  }
}

/* TABLETS */
/* GLOBAL STYLES */
@media screen and (width: 768px),
screen and (height: 768px) and (orientation: landscape) {
  .title {
    font-size: 1.8rem !important;
  }

  .info {
    font-size: 0.9rem !important;
  }

  .fact {
    border: 0.2rem solid #FFF;
    font-size: 2.5rem !important;
  }
}

/* SMALL LAPTOPS */
/* GLOBAL STYLES */
@media screen and (width: 1024px) {
  .title {
    font-size: 2rem !important;
  }

  .fact {
    font-size: 2.5rem !important;
  }
}

/* LARGE LAPTOPS */
/* GLOBAL STYLES */